<!DOCTYPE html>
<html>
  <head>
    <title>NoodleOverflow</title>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="Noodle Overflow" />
    <meta name="title" property="og:title" content="Noodle Overflow" />
    <meta property="og:type" content="Website" />
    <meta 
        name="image" 
        property="og:image" 
        content="https://live.staticflickr.com/65535/50851538141_d17003e9c1_o_d.png"
    />
    <meta name="description" property="og:description" content="stack overflow clone made with React, Redux, Ruby on Rails, and PostgreSQL " />
    <meta name="author" content="Israel Gonzalez" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/edf8565708.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.picture = "<%= image_url("stackoverflowpic.svg") %>"
    </script>

    <script type="text/javascript">
      window.card = "<%= image_url("stackcard.svg") %>"
    </script>

    <script type="text/javascript">
      window.cardleft = "<%= image_url("cardleft.svg") %>"
    </script>

    <script type="text/javascript">
      window.cardmiddle = "<%= image_url("cardhigh.svg") %>"
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <% if current_user%>
      <script>
          window.currentUser = {
            "id": <%= current_user.id%>,
            "username": "<%= current_user.username %>",
            "email":  "<%= current_user.email%>"
          };
      </script>
    <% end%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
